/* Estilo general */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff0f6; /* rosa muy suave */
  padding: 40px;
  color: #4a0033; /* rosa oscuro */
}

h1, h2, h3 {
  text-align: center;
  color: #a83264; /* rosa intenso */
}

.semestre {
  background: #f9d6e8; /* rosa claro */
  border: 2px solid #e29ab0; /* rosa medio */
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 2px 2px 10px rgba(162, 50, 100, 0.3);
}

.semestre h3 {
  margin-bottom: 10px;
  color: #7a2543; /* rosa oscuro */
}

.curso {
  background: #ffe7f0; /* rosa muy claro */
  border: 1px solid #e29ab0; /* rosa medio */
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.curso:hover {
  backgroun
